<Name of the asset>:
(c) <Year> <Author>, <Country>, <Website> (<Email address>)

Files:
<List of affected files>

Licensed under:
<Link to short form of the license>

Legal code:
<Link to full legal code of the license>
