<Name of the asset / asset package>:
(c) <Year> PARPG development team, http://www.parpg.net

Files:
<List of affected files>

Attribution:
<Author> >> filename.extension, etc.

Licensed under:
http://creativecommons.org/licenses/by-sa/3.0/

Legal code:
http://creativecommons.org/licenses/by-sa/3.0/legalcode
